# fly.toml app configuration file generated for bot-wa-gym-api on 2023-11-06T16:48:24-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "bot-wa-gym-api"
primary_region = "gru"

[build]

[env]
  AUTHENTICATION_API_KEY = "gym0npiNikbWV9NGUISFJ5WNuMRnywjEuW9QhHVlfCqNuju4WfcGbQsUns7bf42d"
  AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES = "false"
  AUTHENTICATION_TYPE = "apikey"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'  