#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "wa-evolution-api"
primary_region = "gru"

[experimental]
  auto_rollback = true

[build]

[env]
  TZ="America/Sao_Paulo"
  CORS_ORIGIN="*"
  CORS_METHODS="POST,GET,PUT,DELETE"
  CORS_CREDENTIALS=true
  LOG_LEVEL="ERROR,WARN,INFO,LOG,WEBHOOKS"
  LOG_COLOR=true
  LOG_BAILEYS="error"
  DEL_INSTANCE=false
  DEL_TEMP_INSTANCES=true
  STORE_MESSAGES=true
  STORE_MESSAGE_UP=true
  STORE_CONTACTS=true
  STORE_CHATS=true
  CLEAN_STORE_CLEANING_INTERVAL=7200
  CLEAN_STORE_MESSAGES=true
  CLEAN_STORE_MESSAGE_UP=true
  CLEAN_STORE_CONTACTS=true
  CLEAN_STORE_CHATS=true
  DATABASE_ENABLED=false
  RABBITMQ_ENABLED=false
  RABBITMQ_URI="amqp://guest:guest@rabbitmq:5672"
  RABBITMQ_EXCHANGE_NAME="evolution_exchange"
  RABBITMQ_GLOBAL_ENABLED=false
  RABBITMQ_EVENTS_APPLICATION_STARTUP=false
  RABBITMQ_EVENTS_INSTANCE_CREATE=false
  RABBITMQ_EVENTS_INSTANCE_DELETE=false
  RABBITMQ_EVENTS_QRCODE_UPDATED=true
  RABBITMQ_EVENTS_MESSAGES_SET=true
  RABBITMQ_EVENTS_MESSAGES_UPSERT=true
  RABBITMQ_EVENTS_MESSAGES_UPDATE=true
  RABBITMQ_EVENTS_MESSAGES_DELETE=true
  RABBITMQ_EVENTS_SEND_MESSAGE=true
  RABBITMQ_EVENTS_CONTACTS_SET=true
  RABBITMQ_EVENTS_CONTACTS_UPSERT=true
  RABBITMQ_EVENTS_CONTACTS_UPDATE=true
  RABBITMQ_EVENTS_PRESENCE_UPDATE=true
  RABBITMQ_EVENTS_CHATS_SET=true
  RABBITMQ_EVENTS_CHATS_UPSERT=true
  RABBITMQ_EVENTS_CHATS_UPDATE=true
  RABBITMQ_EVENTS_CHATS_DELETE=true
  RABBITMQ_EVENTS_GROUPS_UPSERT=true
  RABBITMQ_EVENTS_GROUPS_UPDATE=true
  RABBITMQ_EVENTS_GROUP_PARTICIPANTS_UPDATE=true
  RABBITMQ_EVENTS_CONNECTION_UPDATE=true
  RABBITMQ_EVENTS_LABELS_EDIT=true
  RABBITMQ_EVENTS_LABELS_ASSOCIATION=true
  RABBITMQ_EVENTS_CALL=true
  RABBITMQ_EVENTS_TYPEBOT_START=false
  RABBITMQ_EVENTS_TYPEBOT_CHANGE_STATUS=false
  WEBSOCKET_ENABLED=false
  WEBSOCKET_GLOBAL_EVENTS=false
  WEBHOOK_GLOBAL_ENABLED=false
  WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=false
  WEBHOOK_EVENTS_APPLICATION_STARTUP=false
  WEBHOOK_EVENTS_INSTANCE_CREATE=false
  WEBHOOK_EVENTS_INSTANCE_DELETE=false
  WEBHOOK_EVENTS_QRCODE_UPDATED=true
  WEBHOOK_EVENTS_MESSAGES_SET=true
  WEBHOOK_EVENTS_MESSAGES_UPSERT=true
  WEBHOOK_EVENTS_MESSAGES_UPDATE=true
  WEBHOOK_EVENTS_MESSAGES_DELETE=true
  WEBHOOK_EVENTS_SEND_MESSAGE=true
  WEBHOOK_EVENTS_CONTACTS_SET=true
  WEBHOOK_EVENTS_CONTACTS_UPSERT=true
  WEBHOOK_EVENTS_CONTACTS_UPDATE=true
  WEBHOOK_EVENTS_PRESENCE_UPDATE=true
  WEBHOOK_EVENTS_CHATS_SET=true
  WEBHOOK_EVENTS_CHATS_UPSERT=true
  WEBHOOK_EVENTS_CHATS_UPDATE=true
  WEBHOOK_EVENTS_CHATS_DELETE=true
  WEBHOOK_EVENTS_GROUPS_UPSERT=true
  WEBHOOK_EVENTS_GROUPS_UPDATE=true
  WEBHOOK_EVENTS_GROUP_PARTICIPANTS_UPDATE=true
  WEBHOOK_EVENTS_CONNECTION_UPDATE=true
  WEBHOOK_EVENTS_LABELS_EDIT=true
  WEBHOOK_EVENTS_LABELS_ASSOCIATION=true
  WEBHOOK_EVENTS_CALL=true
  WEBHOOK_EVENTS_NEW_JWT_TOKEN=false
  WEBHOOK_EVENTS_TYPEBOT_START=false
  WEBHOOK_EVENTS_TYPEBOT_CHANGE_STATUS=false
  WEBHOOK_EVENTS_CHAMA_AI_ACTION=false
  WEBHOOK_EVENTS_ERRORS=false
  CONFIG_SESSION_PHONE_CLIENT="VipPague"
  CONFIG_SESSION_PHONE_NAME="Chrome"
  QRCODE_LIMIT=30
  QRCODE_COLOR="#000000"
  TYPEBOT_API_VERSION="latest"
  CACHE_REDIS_ENABLED=true
  CACHE_REDIS_PREFIX_KEY="evolution"
  CACHE_REDIS_TTL=604800
  CACHE_REDIS_SAVE_INSTANCES=true
  CACHE_LOCAL_ENABLED=false
  CACHE_LOCAL_TTL=604800
  AUTHENTICATION_TYPE="apikey"
  AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES = false
  AUTHENTICATION_INSTANCE_MODE="server"
  AUTHENTICATION_INSTANCE_NAME="evolution"

[[services]]
  protocol = "tcp"
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
    
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "15s"
    grace_period = "5s"